@import "../../../utils/variables";

.DifficultyChart {
  display: flex;
  flex-direction: column;
  width: 32%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-left: 0.5em;
  border: 1px solid $accent2;
  border-radius: 0.15em;
  box-shadow: 0 0 0.3em $accent2;
  background-color: $primary;

  .NoTasks {
    background-color: #3788d8;
    border: 1px solid #ffffff;
    color: #ffffff;
    height: 14.5em;
    width: 14.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .DifficultyChart {
    width: 98%;
    margin-right: 0.5em;
  }
}