@import '../../utils/variables';

.ExpandedTask {
  display: flex;
  flex-direction: column;
  background-color: $primary;
  border-radius: 0.5em;
  height: 100%;

  .TaskInfoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 0.7em;
    color: $accent;

    .DifficultyIcon {
      height: 0.6em;
    }

    .TaskCompleted {
      cursor: pointer;
    }
  }
  
  .TaskNotes {
    margin: 0.5em;
    height: 8em;
    border: 1px solid $accent;
    border-radius: 0.5em;
  }

  .TaskCurrentNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0.5em;
    padding: 0.5em;

    .TaskCurrentNoteText {
      height: 100%;
      width: 100%;
      color: $accent;
      border: none;
      border-radius: 0.2em;
      resize: none;
      font-size: 16px;
      outline: 0px !important; // Remove blue outline
      box-shadow: 0 0 0.1em $accent;
    }
  }
}
