@import '../../utils/variables';

.ExpandedTask {
  display: flex;
  flex-direction: column;
  background-color: $secondary;
  height: 100%;
  font-family: monospace;

  .TaskNotes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
    height: 1.8em;

    .TaskNotesHeaders {
      display: flex;
      overflow-y: auto;
    }

    .AddIcon {
      height: 1em;
      width: 1em;
      cursor: pointer;
    }

    .Note {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $accent2;
      border-top-left-radius: 0.2em;
      border-top-right-radius: 0.2em;
      width: 5em;
      min-width: 5em;
      height: 1.6em;
      margin: 0.1em;
      margin-bottom: 0;
      padding-bottom: 0;
      background-color: $primary;
      overflow: hidden;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .TaskCurrentNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    padding-top: 0;

    .TaskCurrentNoteText {
      height: 100%;
      width: 100%;
      color: $accent;
      border: 1px solid $accent2;
      border-radius: 0.2em;
      resize: none;
      font-size: 1rem;
      outline: 0px !important; // Remove blue outline
    }
  }
}
