@import '../../../utils/variables';

.NewTask {
  display: flex;
  background-color: $off-white;

    .TitleInput {
      height: 1.5em;
      border: none;
      border-bottom: 1px solid $black;
      background: none;
      font-size: 18px;
      font-weight: 600;
      color: $black;
      outline: none;
    }

    .CreateTaskButton {
      cursor: pointer;
    }
}
