@import '../../../utils/variables';

.NewTask {
  display: flex;
  align-items: baseline;
  margin-top: 0.5em;
  padding-right: 0.5em;

  .TitleInput {
    padding-right: 0.5em;
  }

  .DifficultyForm {
    padding-right: 0.5em;

    .DifficultySelect {
      width: 7em;
    }
  }

  .NoteAddIcon {
    height: 1.2em;
    width: 1.2em;
    cursor: pointer;
  }
}
