.Settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .TimerButton {
    height: 1.8em;
    border: none;
    border-radius: 0.2em;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }

  .DurationSettings {
    width: 40%;
  }

  .TimerSettings {
    margin-top: 1em;
  }

  .StartStopSettings {
    margin-top: 4em;

    .StartButton {
      height: 1.8em;
      border: none;
      border-radius: 0.2em;
      color: #000;
      background-color: #fff;
      font-size: 32px;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
