.Settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .DurationSettings {
    margin-top: 1em;
    width: 40%;
  }

  .TimerButton {
    margin-top: 1em;
    height: 1.8em;
    border: none;
    border-radius: 0.2em;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }

  .TimerSettings {
    margin-top: 1em;
  }

  .StartStopSettings {
    margin-top: 4.5em;

    .StartButton {
      padding: 0.5em 0;
      width: 5em;
      border: 1px solid #000;
      border-radius: 0.1em;
      color: #000;
      background-color: #fff;
      font-size: 32px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        transition: 0.3s;
        font-size: 34px;
      }
    }
  }
}
