@import '../../utils/variables.scss';

.Tasks {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $secondary;

  .TasksEmpty {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent;
    background-color: $secondary;
    font-size: 1rem;
    font-family: monospace;
    height: 100%;

    .TasksDirection {
      position: absolute;
      display: flex;
      align-items: baseline;
      top: 0;
      right: 5.4em;

      .UpArrow {
        margin-left: 0.2em;
        animation-name: floating;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

        /* Reference for animation: https://www.geeksforgeeks.org/css-floating-animation/ */
        @keyframes floating {
          0% {
            transform: translate(0, 0px);
          }

          50% {
            transform: translate(0, 5px);
          }

          100% {
            transform: translate(0, -0px);
          }
        }
      }
    }

    .TasksEmptyText {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .DataTable {
    height: 100%;
    overflow: auto;
  }

  .DifficultyIcon {
    color: $accent;
    height: 0.6em;
  }
}