@import '../../utils/variables.scss';

.Tasks {
  display: flex;
  flex-direction: column;
  height: 100%;

  .TasksEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent2;
    background-color: $primary;
    height: 100%;

    .TasksEmptyText {
      font-size: 2rem;
      font-weight: 400;
    }
  }

  .DataTable {
    height: 100%;
    overflow: auto;
  }

  .DifficultyIcon {
    color: $accent;
    height: 0.6em;
  }
}
