@import '../../utils/variables.scss';

.Tasks {
  display: flex;
  flex-direction: column;
  height: 100%;

  .NewTaskContainer {
    display: flex;
    justify-content: center;
  }

  .DataTable {
    height: 100%;
    overflow: auto;
  }

  .DifficultyIcon {
    height: 0.6em;
  }
}
