@import '../../../utils/variables';

.Config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .DurationSettings {
    margin-top: 0.5em;
    width: 50%;
  }

  .TimerToggle {
    margin-top: 1em;

    .TimerButton {
      height: 2em;
      border: none;
      border-radius: 0.2em;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .StartStopSettings {
    margin-top: 2em;
    color: $accent;

    .StartButton {
      height: 2em;
      width: 2em;
      cursor: pointer;
    }
  }
}
