.Config {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .DurationSettings {
    margin-top: 0.5em;
    width: 50%;
  }

  .TimerToggle {
    margin-top: 1em;

    .TimerButton {
      height: 2em;
      border: none;
      border-radius: 0.2em;
      color: #000;
      background-color: #fff;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .StartStopSettings {
    margin-top: 2em;

    .StartButton {
      padding: 0.5em 0;
      width: 5em;
      border: 1px solid #000;
      border-radius: 0.1em;
      color: #000;
      background-color: #fff;
      font-size: 32px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        transition: 0.3s;
        font-size: 34px;
      }
    }
  }
}
