@import '../../../utils/variables';

.ProgressBar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1em;
  padding-top: 1em;
  font-size: 1rem;
  font-weight: 600;
  height: 10em;
  background-color: $primary;
  border: 1px solid $accent2;
  border-radius: 0.15em;

  .ProgressSlider {
    padding-top: 0.4em;
    display: flex;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.3em;

    .InfoIcon {
      margin-right: 1em;
      cursor: pointer;
    }

    .ProgressNumber {
      margin-left: 2em;
      width: 3em;
    }
  }

  .ProgressDescription {
    display: flex;
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .ProgressInfo {
    display: flex;
    justify-content: space-between;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 0.8rem;
    font-weight: 400;
  }
}