@import "../../../utils/variables";

.TimeSpentBarChart {
  display: flex;
  flex-direction: column;
  width: 65.3%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-left: 0.5em;
  border: 1px solid $accent;
  border-radius: 0.3em;
  background-color: $primary;

  .recharts-surface {
    width: 85%
  }
}

@media (max-width: 1285px) {
  .TimeSpentBarChart {
    .recharts-surface {
      width: 75%;
    }
  }
}

@media (max-width: 1140px) {
  .TimeSpentBarChart {
    .recharts-surface {
      width: 65%;
    }
  }
}

@media (max-width: 980px) {
  .TimeSpentBarChart {
    .recharts-surface {
      width: 55%;
    }
  }
}

@media (max-width: 900px) {
  .TimeSpentBarChart {
    width: 98%;
    margin-right: 0.5em;

    .recharts-surface {
      width: 75%;
    }
  }
}

@media (max-width: 765px) {
  .TimeSpentBarChart {
    .recharts-surface {
      width: 65%;
    }
  }
}

@media (max-width: 650px) {
  .TimeSpentBarChart {
    .recharts-surface {
      width: 55%;
    }
  }
}

@media (max-width: 560px) {
  .TimeSpentBarChart {
    .recharts-surface {
      width: 45%;
    }
  }
}

@media (max-width: 460px) {
  .TimeSpentBarChart {
    .recharts-surface {
      width: 35%;
    }
  }
}