@import "../../../utils/variables";

.TimeSpentBarChart {
  display: flex;
  width: 65.3%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  margin-left: 0.5em;
  border: 1px solid $accent;
  border-radius: 0.3em;
  background-color: $primary;

  .recharts-surface {
    width: 95%
  }
}

@media (max-width: 900px) {
  .TimeSpentBarChart {
    width: 98%;
    margin-right: 0.5em;
  }
}