.Header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 0.5px solid #000;

  .NavPages {
    display: flex;
    flex-direction: column;
  }

  .NavButton {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.7em 0.5em;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    border-bottom: 0.5px solid #000;
    cursor: pointer;
  }
}