.Header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.2em;
  border-bottom: 0.5px solid #000;


  .NavButton {
    margin: 0 0.2em;
    padding: 0.4em 0.5em;
    border: none;
    border-radius: 0.2em;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    cursor: pointer;
  }

  .NavIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3.8em;

    .Icon {
      height: 1.2em;
      width: 1.2em;
      cursor: pointer;
    }
  }
}