@import '../utils/variables.scss';

.Main {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $off-white;

  .Page {
    height: 100%;
    width: 100%;
  }

    .Icon {
      position: absolute;
      top: 0.2em;
      right: 0.2em;
      height: 1.2em;
      width: 1.2em;
      cursor: pointer;
    }

    .OpenSidebarButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1em;
      padding: 0.1em;
      border: 0.8px solid $black;
      border-radius: 1em;
      background-color: $off-white;
      cursor: pointer;
    }
}