@import '../utils/variables.scss';

.Main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $secondary;

  .Icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.2em;
    margin-bottom: 0.1em;
    border: none;
    border-radius: 0.5em;
    color: $accent;
    background-color: $primary;
    box-shadow: 0 0 0.15em $accent;

    .Icon {
      margin: 0.2em;
      height: 1.2em;
      width: 1.2em;
      cursor: pointer;
    }
  }

  .Page {
    height: 100%;
    margin: 0.2em;
    background-color: $primary;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0 0 0.15em $accent;
    overflow: auto;
  }
}