@import '../utils/variables.scss';

.Main {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .Icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $accent2;

    .Icon {
      padding: 0.2em;
      height: 1.2em;
      width: 1.2em;
      cursor: pointer;
    }
  }

  .Page {
    height: 100%;
    background-color: $primary;
    overflow: auto;
  }
}