@import '../../../../utils/variables';

.Task {
  display: flex;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-bottom: 0.5px solid $accent;

  &:hover {
    background-color: #e4e3e6; 
  }

  .TaskLeft {
    display: flex;
    align-items: center;
    flex: 3;

    .CheckBoxIcon {
      cursor: pointer;
    }
  }

  .TaskRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    .DeleteIcon {
      cursor: pointer;
    }

    .LaunchIcon {
      cursor: pointer;
    }
  }
}
