@import '../../../../utils/variables';

.Task {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.5em;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0 1.2px $accent;
  background-color: $primary;

  &:hover {
    background-color: $secondary; 
  }

  .TaskLeft {
    display: flex;
    align-items: center;
    flex: 2;

    .CheckBoxIcon {
      cursor: pointer;
    }

    .TaskTitle {
      margin-left: 0.5em;
      font-size: 1rem;
    }
  }

  .TaskRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    max-width: 15em;

    .TaskDifficulty {
      margin-right: 1em;
    }

    .TaskDueDate {
      margin-right: 1em;
    }

    .DeleteIcon {
      cursor: pointer;
    }

    .LaunchIcon {
      cursor: pointer;
    }
  }
}
