.Sidebar {
  display: flex;

  .NavSection {
    display: flex;
    align-items: center;

    .NavIcon {
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }

  .NavButton {
    display: flex;
    width: 100%;
    padding: 0.7em 0.5em;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .CloseSidebarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    padding: 0.1em;
    border: none;
    border-left: 0.5px solid #000;
    border-right: 0.5px solid #000;
    border-radius: 1em;
    background-color: antiquewhite;
    cursor: pointer;
  }
}
