@import '../../utils/variables.scss';

.Sidebar {
  display: flex;
  background-color: $off-white;

  .NavSection {
    display: flex;
    align-items: center;

    .NavIcon {
      width: 1em;
      height: 1em;
      cursor: pointer;
    }

    .NavButton {
      display: flex;
      width: 100%;
      padding: 0.7em 0.5em;
      font-size: 16px;
      font-weight: 600;
      color: $black;
      background-color: $off-white;
      border: none;
      cursor: pointer;
    }
  }

  .CloseSidebarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.2em;
    padding: 0.1em;
    border: 0.8px solid $black;
    border-radius: 1em;
    background-color: $off-white;
    cursor: pointer;
  }
}
