.Sidebar {
  display: flex;
  background-color: #faf9f6;

  .NavSection {
    display: flex;
    align-items: center;

    .NavIcon {
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }

  .NavButton {
    display: flex;
    width: 100%;
    padding: 0.7em 0.5em;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    background-color: #faf9f6;
    border: none;
    cursor: pointer;
  }

  .CloseSidebarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.1em;
    padding: 0.1em;
    border: 0.8px solid #000;
    border-radius: 1em;
    background-color: #fffaf4;
    cursor: pointer;
  }
}
