@import '../../utils/variables';

.Dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $secondary;
  font-family: monospace;
  font-size: 1rem;
  overflow: auto;

  .Grid1  {
    display: flex;
    height: 100%;
    width: 100%;
  }

  .Grid2 {
    display: flex;
    height: 100%;
    width: 100%;
  }
}