@import "../../../utils/variables";

.DifficultyTimeChart {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .PieChart {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}