@import '../../utils/variables';

.AddTask {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 3em;
  right: 4.3em;
  background-color: $primary;
  height: 21em;
  width: 22em;
  border: 1px solid $accent2;
  border-radius: 0.2em;
  box-shadow: 0 0 0.15em $accent2;
  z-index: 1;

  .CloseButton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    top: 0.1em;
    right: 0.2em;
    font-size: 2rem;
    color: $accent;
    cursor: pointer;
  }

  .AddTaskInputs {
    display: flex;
    flex-direction: column;

    .TitleInput {
      margin: 0.5em;
      margin-top: 0;
    }

    .DifficultyContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .DifficultyForm {
        margin: 0.5em;
        width: 100%;
      }
    }

    .DueDatePicker {
      margin: 0.5em;
    }

    .AddTaskButton {
      margin: 0.5em;
      border: 1px solid $accent;
      border-radius: 0.2em;
      background-color: $accent;
      color: $primary;
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5em;
      cursor: pointer;
    }
  }
}

@media (max-width: 475px) {
  .AddTask {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .AddTask {
    width: 18em;
  }
}

