.Settings {
  position: absolute;
  top: 4em;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  height: 30em;
  width: 30em;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0 0.2em #000;

  .CloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
    border: none;
    border-radius: 0.1em;
    background: none;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 2em;
    cursor: pointer;
    
    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  .SettingsList {
    display: flex;
    flex-direction: column;
    margin: 3em 6em;

    .SettingsItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1em 0;

      .SettingsToggle {
        height: 1.5em;
        width: 1.5em;
      }
    }
  }
}
