@import '../../utils/variables';

.Pomodoro {
  position: absolute;
  top: 2.7em;
  right: 1em;
  background-color: $off-white;
  height: 20em;
  width: 22em;
  border: 0.5px solid $black;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  box-shadow: 0 0 0.1em $black;

  .CloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
    border: none;
    border-radius: 0.1em;
    background: none;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 2em;
    cursor: pointer;
  }

  .Timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 5em;
  
    .FormattedDuration {
      color: $black;
    }
  }
}
