.Pomodoro {
  position: absolute; // TODO: Set position to be relative to pomodoro button
  top: 4em;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #fff;
  height: 30em;
  width: 30em;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0 0.2em #000;

  .CloseButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1em;
    width: 1em;
    border: none;
    border-radius: 0.1em;
    background: none;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 2em;
    cursor: pointer;
    
    &:hover {
      transition: 0.3s;
      color: #fff;
      background-color: #000;
    }
  }

 
  .Timer {
    margin-top: 2.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 5em;
  
    .FormattedDuration {
      color: #000;
    }
  }
  
}