.Pomodoro {
  position: absolute;
  top: 3.5em;
  background-color: #fff;
  height: 20em;
  width: 28em;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 0 0.2em #000000;

  .CloseButton {
    border: none;
    border-radius: 0.2em;
    background: none;
    position: absolute;
    top: 0em;
    right: 0em;
    font-size: 2em;
    cursor: pointer;
  }
}